<div id="sso_discovery">
  <img src="/bebraven/braven_logo.png" alt="" />
  <h1>Choose Your University</h1>

  <div id="nlu_university_choice">
    <h2>National Louis University</h2>

    <div class="choose-your-role">
      <a href="//<%= Rails.application.secrets.canvas_server %>/login/cas/6">
        <div>I am a...</div>
        <span>Fellow<br />&#9654;</span>
      </a>

      <a href="//<%= Rails.application.secrets.canvas_server %>/login/cas/1">
        <div>I am an...</div>
        <span>Instructor/LC<br />&#9654;</span>
      </a>
    </div>

  </div>
</div>
