<% content_for :title, 'Waivers Submitted' %>

<% content_for :headline do %>
  Waiver Submitted
<% end %>

<br/>
<p>Thank you for signing and submitting your waivers!</p>
<br/>
<!-- TODO: don't hardcode link -->
<p><a href="https://braven.instructure.com/courses/48" class="btn btn-primary">Go Back To The Course</a></p>
