---
http_interactions:
- request:
    method: put
    uri: https://lrs.braven.org/data/xAPI/statements?statementId=00241fbf-e921-4aa0-865d-a1c2214df321
    body:
      encoding: UTF-8
      string: '{"id":"00241fbf-e921-4aa0-865d-a1c2214df321","timestamp":"2020-07-20T17:32:07.512Z","actor":{"name":"first
        last","mbox":"mailto:admin@beyondz.org"},"verb":{"id":"http://adlnet.gov/expapi/verbs/answered","display":{"und":"answered"}},"result":{"response":"87d5d1b2-6892-4787-99b6-655117a05e8a"},"object":{"id":"http://platformweb:49883/course_contents/169#/h2c2-0600-next-steps","objectType":"Activity","definition":{"type":"http://adlnet.gov/expapi/activities/cmi.interaction","name":{"und":"h2c2-0600-next-steps"},"description":{"und":"h2c2-0600-next-steps"},"interactionType":"fill-in"}}}'
    headers:
      Authorization:
      - Basic REMOVED
      X-Experience-Api-Version:
      - 1.0.3
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Experience-Api-Version:
      - 1.0.3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 Jul 2020 17:32:08 GMT
- request:
    method: get
    uri: https://lrs.braven.org/data/xAPI/statements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic REMOVED
      X-Experience-Api-Version:
      - 1.0.2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Experience-Api-Consistent-Through:
      - '2020-08-11T21:47:27.424Z'
      X-Experience-Api-Version:
      - 1.0.3
      Etag:
      - W/"1b-kqVs0oGuVBgzC/ayBcKByJHOxKY"
    body:
      encoding: UTF-8
      string: '{"more":"","statements":[]}'
  recorded_at: Tue, 11 Aug 2020 21:47:27 GMT
recorded_with: VCR 6.0.0
