/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
//*= require shared/fonts
//*= require shared/style

@import "shared/variables";

/**
 * Text
 */
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}


/**
 * Buttons
 */
.btn, .btn-primary, .btn-secondary {
  font-family: $headings-font-family;
  text-transform: uppercase;
  border-radius: 0.2rem;
}

.btn-primary {
  background-color: $bv-red-600;
  padding: 0.5rem 2rem;
}

.btn-secondary{
  background-color: $bv-silver-600;
}

.btn-primary:hover,.btn-secondary:hover,
.btn-primary:focus,.btn-secondary:focus {
  background-color: $bv-black;
  border-color: $bv-silver-300;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: white;
}

/**
 * Alerts
 */
.show-alert {
  position: absolute;
  z-index: 100;
  width: 100%;
}

/**
 * Misc
 */
// A place to store data attributes in a hidden div so we can pass
// information from the controller to the JS.
#javascript_variables {
  display: none;
}
