<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Zoom Home</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <legend>Zoom Home</legend>
      
    </div>
    <div class="col-sm"></div>
  </div>
</div>