<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Add To Zoom</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <legend>Register Program Participants</legend>
      <%= render 'update_webinar' %>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
