<% content_for :headline do %>
  Dashboard
<% end %>
<div class="list-group w-25 mt-5 ml-4">
  <% @links.each do |link| %>
    <% target = link[:blank_target].present? ? :_blank : :_self %>
    <% extra_class = link[:is_active].present? ? 'active' : '' %>
    <%= link_to link[:title], link[:path], target: target, type: "button", class: "list-group-item list-group-item-action #{extra_class}"%>
  <% end %>
</div>