<% content_for :title, 'Project' %>

<!-- Project content TODO: Check read_only and add CSS style -->
<div id="custom-content-wrapper"
     data-read-only="<%= read_only %>"
     data-course-custom-content-version-id="<%= @course_project_version.id %>">
  <%== @course_project_version.project_version.body %>
</div>

<%= javascript_pack_tag 'xapi_assignment' %>
