<div class="bv-custom-content-container">
  <%= render 'project' locals: { read_only: false, unsubmitted_answers: @unsubmitted_answers } %>

  <!-- Submit -->
  <%= react_component('Projects/ProjectSubmitButton', {
    hasSubmission: @has_previous_submission,
    ltiLaunchState: params[:state],
    courseContentVersionId: @course_project_version.id,
  })%>
</div>

