// Place all the styles related to the contents controller here.
// They will automatically be included in content_editor.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* assets/styles.css */


/* Braven Projects CSS */
.bz-assignment {
    width: unset !important;
    max-width: 42rem;

    p {
        font-size: 1rem;
        line-height: 1.7 !important;
        margin: 0;
        margin-top: 0.5rem;
        padding: 0;
    }

    p + p {
        margin-top: 1rem;
    }

    ul, ol {
        font-size: 1rem;
    }
    
    li {
        line-height: 1.7 !important;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    textarea, input {
        font-size: 1rem;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 6px;
        min-width: 100px;
    }

    textarea, input[type="text"] {
        width: 100% !important;
    }

    textarea {
        min-height: 6rem;
    }

    div.watch-out {
        padding: 0.5em;
        margin: 0.5em;
        outline: red 2px solid;
    }

    iframe.linked-in-authorization-button {
        margin-top: 10px;
        /* This is the size of the button icon */
        width: 215px;
        height: 41px;
    }
}

.bz-assignment .highlighted-user-input {
  background-color: #3BE7DD
}

.bz-assignment input[type=submit] {
	background-image: none;
	background: #DB2B36;
	border: 1px solid transparent;
	border-color: white;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 21px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.333em;
	margin: 0;
	padding: 10px 50px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: none;
	transition: all 0.5s ease 0s;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

 .bz-assignment input[type=submit]:focus {
	background-color: #3071a9;
	border-color: #285e8e;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	text-decoration: none;
}

.bz-assignment input[type=submit]:active:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.bz-assignment input[type=submit]:hover {
	background-color: #3071a9;
	background: #000;
	border-color: #285e8e;
	text-decoration: none;
}

.bz-assignment input[type=submit]:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	background-color: #3071a9;
	background-image: none;
	border-color: #285e8e;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	outline: 0;
}

/* End Braven Projects CSS */

// TODO: are there obsolete? I don't know if they are content styles or content editor styles.
.block-quote-bg > div.content,
div.content > blockquote {
        width: 100%;
}

div.content > blockquote:focus,
div.content > blockquote:focus > small {
        color: black;
        background: none;
}
